/* ====================================================
 * ELEMENT
 * ===================================================*/
* {
    font-size: 10pt;
}
th, td, caption, pre {
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
}
html {
    background-color: #e0e0e0;
    padding: 0;
}
body {
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
    max-width: 940px;
    min-height: 940px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 8px;
    -webkit-text-size-adjust: none;
    background-color: #ffffff;
    border-right: 2px solid #999999;
    border-left: 1px solid #999999;
    overflow-y: scroll;
}
h2 {
    padding: 5px 3px 3px 5px;
    background-color: #ccccff;
    background-color: #446699;  /* STYLE3 */
    border: 1px solid #999999;
    border-color: #435a8b #3c5488 #334c83; /* STYLE3 */
    font-weight: bold;
    font-size: 1.3em;
    color: #333366;
    color: #ffffff; /* STYLE3 */
    margin: 0px 0px 8px 0px;
}
h2 img {
    vertical-align: middle;
}
h4 {
    margin: 1em 0em 1em 0em;
    padding: 3px 3px 1px 4px;
    background-color: #ccccff;
    background-color: #446699;  /* STYLE3 */
    border: 1px solid #999999;
    border-color: #435a8b #3c5488 #334c83; /* STYLE3 */
    font-weight: bold;
    color: #333366;
    color: #ffffff; /* STYLE3 */
}
h5 {
    margin: 0 0 0 8px;
}
a:link {
    color: #0044cc;
    color: #113366; /* STYLE3 */
}
h4 a:link {
    color: #ffffff; /* STYLE3 */
}
a:visited {
    color: #000066;
    color: #113366; /* STYLE3 */
}
h4 a:visited {
    color: #ffffff; /* STYLE3 */
}
a:link:hover {
    color: #ff0000;
}
a:visited:hover {
    color: #ff0000;
}
em {
    color: #cc0000;
    font-style: normal;
}

/* ====================================================
 * CLASS
 * ===================================================*/
@media screen and (min-width:768px) {
      .i {
          margin-top: 0;
          margin-bottom: 1em;
          margin-left: 25px;
      }
}
pre.c {
    margin: 1em 0em 1em 0em;
    padding: 5px;
    border: 1px solid #999999;
    white-space: pre;
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
    background-color: #f4f4f4;
    overflow-x: auto;
}
pre.c2 {
    margin: 0em 0em 1em 0em;
    padding: 5px;
    border: 1px solid #999999;
    white-space: pre;
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
    background-color: #f4f4f4;
    overflow-x: auto;
}
div.c {
    margin: 1em 0em 1em 0em;
    padding: 5px;
    border: 1px solid #999999;
    background-color: #f4f4f4;
}
div.c2 {
    margin: 0em 0em 0em 0em;
    padding: 5px;
    border: 1px solid #999999;
    background-color: #f4f4f4;
}
div.c2 h5 {
    margin: 0.5em 0 0 0;
}
div.title-tab {
    min-width: 120px;
    max-width: 200px;
    padding-right: 5px;
    padding-left: 5px;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    background-color: #dddddd;
    text-align: center;
    font-size: 8pt;
    font-weight: bold;
    color: #333333;
}
div.adv {
    border: 1px solid #808080;
    background-color: #e8e8ff;
    padding: 3px;
    font-size: 8pt;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.adv a:link, div.adv a:visited {
    color: #404080;
}
.nsy {  /* Not Support Yet */
    color: #666666;
}
.small {
    font-size: 85%;
}
.nowrap, .nowrap * {
    white-space: nowrap;
}
.border {
    border: 1px solid gray;
}
.v-middle {
    vertical-align: bottom;
}
.dos {
    background-color: #333333;
    color: #ffffff;
    border: 1px solid #808080;
    padding: 5px;
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
    overflow-x: auto;
}
.dos kbd {
    color: #99ff99;
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
}
.dos em {
    color: #ff6666;
}
.dos .comment {
    color: #808080;
}
.tt {
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
}
.collapse {
    border-collapse: collapse;
}
.comment {
    color: #666666;
}

/* ====================================================
 * MESSAGE BOX
 * ===================================================*/
.error {
    margin: 10px;
    border: 2px solid #ff6666;
    background-color: #ffcccc;
    padding: 10px;
    color: red;
}
.info {
    margin: 10px;
    border: 1px solid #666633;
    background-color: #ffffcc;
    padding: 10px;
    color: red;
}
.worning {
    margin: 10px;
    border: 2px solid #ffff66;
    background-color: #ffffcc;
    padding: 10px;
    color: red;
}

/* ====================================================
 * LOCATION
 * ===================================================*/
.top {
    vertical-align: top;
}
.valign-top {
    vertical-align: top;
}
.right {
    text-align: right;
}
.align-right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
.center * {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}

/* ====================================================
 * COLOR
 * ===================================================*/
.red { color: red; }
.green { color: green; }
.blue { color: blue; }
.white { color: white; }
.gray { color: gray; }
.bg-eee { background-color: #f4f4f4; }

/* ====================================================
 * TABLE
 * ===================================================*/
table.tb1 {
    border: 1ps solid #666666;
    border-collapse: collapse;
    empty-cells: show;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0em;
    margin-right: 0em;
}
table.tb1 th {
    font-size: 10pt;
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
    border: 1px solid #666666;
    padding: 0px 3px;
    background-color: #ccccff;
    background-color: #dddddd;  /* STYLE3 */
    color: #333366;
    color: #333333; /* STYLE3 */
    padding: 1px 3px;
    font-weight: normal; /* STYLE3 */
}
table.tb1 td {
    font-size: 10pt;
    font-family: "Meiryo UI", "メイリオ", "ＭＳ Ｐゴシック", "ヒラギノ角ゴシック";
    border: 1px solid #666666;
    padding: 0px 3px 1px 3px;
}
table.center td {
    text-align: center;
}
table.tb1 caption {
    font-size: 10pt;
    text-align: left;
}
table.tb1 table th {
    border: 0px solid #666666;
}
table.tb1 table td {
    border: 0px solid #666666;
}

/* ====================================================
 * CLEARFIX
 * ===================================================*/
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix .col3 {
    width: 22%;
    float: left;
    padding-right: 10px;
}
.clearfix .col6 {
    width: 47%;
    float: left;
    padding-right: 10px;
}
* html .clearfix {
    display: inline-table;
}
/* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */
.clearfix .c2 {
    margin-bottom: 0;
}

/* ====================================================
 * STYLE4
 * ===================================================*/
h2 {
    background-color: #fff;
    color: #000;
    border: 0px;
    x-border-left: 6px solid #469;
    background-color: #469;
    padding: 10px;
    color: #fff;

    background-color: #fff;
    color: #000;
    font-size: 16pt;
    padding: 6px;
    x-border-top: 5px solid #469;
    x-border-bottom: 5px solid #469;
    background-color: #469;
    color: #fff;
}
h4 {
    background-color: #fff;
    color: #036;
    border: 0px;
    border-left: 4px solid #469;
    font-size: 11pt;
    padding: 0 0 0 8px;
    font-weight: bold;
}
h4 a:link, h4 a:visited {
    color: #036;
}
h5 {
    color: #036;
}
table.tb1 {
    border: 1px solid #999;
}
table.tb1 th {
    background-color: #d8e0f0;
    font-weight: bold;
    color: #405060;
    padding-right: 8px;
    padding-left: 8px;
}
table.tb1 th a:link, table.tb1 th a:visited {
    color: #405060;
}
table.tb1 th, table.tb1 td {
    border: 1px solid #999;
}
div.title-tab {
    color: #506080;
    background-color: #d8e0f0;
    border-radius: 4px 4px 0 0;
}
div.c, pre.c {
    border-radius: 2px 2px 2px 2px;
}
div.c2, pre.c2 {
    border-radius: 0px 2px 3px 2px;
}

/* ====================================================
 * STYLE5
 * ===================================================*/
body {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}
h4 {
    padding: 0 0 2px 0;
    border: 0px;
    color: black;
    /* border-bottom: 1px solid #ccc; */
    font-size: 13pt;
    margin: 20px 0 12px 0;
    padding-left: 8px;
    border-left: 6px solid #369;
}
h4 * {
    font-size: 13pt;
}
h5 {
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
}
h5 i {
    font-weight: normal;
}
.t0 {
    margin-top: 0;
}
.b0 {
    margin-bottom: 0;
}
.i {
    margin-left: 1em;
    margin-right: 1em;
}
em {
    color: #c22;
}
div.c2, pre.c2, div.c, pre.c {
    font-family: consolas, courier,  'Meiryo UI', 'メイリオ', sans-selif;
    margin-bottom: 1em;
}
.nobr {
    white-space: nowrap;
}

/* ====================================================
 * HTMLリファレンス
 * ===================================================*/
dl.htmlelem {
    background-color: #e0eeff;
}
dl.htmlelem dt {
    margin-top: 1em;
}
dl.htmlattr dt {
    margin-top: 1em;
}

/* ====================================================
 * CSSリファレンス
 * ===================================================*/
.csssum {
    min-width: 645px;
}
.csssum th {
    width: 100px;
}
.csssupport {
    font-size: 8pt;
}
.csssup td {
    width: 100px;
    text-align: center;
}
.cssexp td:first-child {
    white-space: nowrap;
}

/* ====================================================
 * スマホ対応
 * ===================================================*/
@media screen and (max-width: 768px) {
    .i {
        margin-left: 0;
        margin-right: 0;
    }
    pre.c,
    pre.c2 {
        white-space: pre-wrap;
        word-wrap: break-word;
        word-break: normal;
    }
}

/* ====================================================
 * 
 * ===================================================*/
/********
table.tb1 {
    border: none;
}
table.tb1 caption {
    display: none;
    font-weight: bold;
}
table.tb1 th {
    display: none;
}
table.tb1 td:first-child {
    border: none;
    display: block;
    margin-top: 1em;
    font-weight: bold;
}
table.tb1 td:nth-child(2) {
    border: none;
    display: block;
    margin-left: 2em;
}
table.tb1 td:nth-child(3) {
    border: none;
    display: block;
    margin-left: 2em;
}
********/












