* {
  font-family: "Meiryo UI", "メイリオ", "MS UI Gothic", "ヒラギノ角ゴシック";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  text-size-adjust: none;
}
body {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: .5rem;
  padding-left: .5rem;
  font-size: 11pt;
}
header {
  background: #446699;
  margin: 10px 0 5px 0;
  color: #fff;
  border: 1px solid #446699;
}
header a:link,
header a:visited {
  color: #fff;
}
header #search {
  padding: 1rem;
}
footer {
  margin-top: .5rem;
}
h1 {
  font-size: 180%;
  font-weight: bold;
  margin: 10px;
}
h2 {
  font-size: 100%;
  background: #446699;
  color: #fff;
  padding: .2rem;
}
h2::before {
  content: "■ " ;
}
ul {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
li {
  list-style: none;
  margin-bottom: .2rem;
}
a:link,
a:visited {
  color: #136;
}
address {
  font-style: normal;
}
.banner {
  margin-top: .5rem;
}
@media screen and (min-width:700px) {
  body {
    width: 768px;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  main ul {
    columns: 2;
  }
  main ul.abc {
    columns: 1;
  }
  #content {
    display: flex;
  }
  aside {
    width: 12rem;
    text-align: center;
    background: #eee;
  }
  aside h2::before {
    content: "";
  }
  aside li {
    margin-bottom: .8rem;
  }
  main {
    width: 100%;
    margin-left: .5rem;
  }
  footer {
    display: flex;
    justify-content: flex-end;
  }
  .banner {
    margin-left: 1rem;
  }
}
