body {
    background-color: #FDF5E6;
    color: #330000;
}
h2 {
    text-align: center;
}
dt {
    margin-top: 1em;
    font-weight: bold;
}
a:link {
    color: #000080;
}
a:visited {
    color: #000033;
}
.i {
    margin-right: 30;
    margin-left: 30;
}
