@charset "UTF-8";

/* トップページ用CSS */

body,div,h1,h2,h3,pre,p,ul,ol,li{
margin: 0;
padding: 0;
}

body{
color: #444;
font-family: 'Noto Sans JP', '游ゴシック', 'Hiragino Sans','Helvetica Neue', 'メイリオ', 'sans-serif';
}

img {
max-width: 100%;
height: auto;
margin:10px 0;
border-width:0;
vertical-align:bottom;
}

img.waku{
border:1px solid #9f9f9f;
}

p{
font-size:18px;
line-height:1.75;
margin:25px 0 25px 0px;
color:#222;
}

a:link{color:#1E79A7;}
a:visited{color:#1E79A7;}
a:hover, a:active{color:#ff0000;}

h1 {
max-width: 1062px;
font-size:20px;
margin:10px auto 5px auto;
color:#808080;
}

.sidetitle{
font-size:16px;
margin:10px 0 8px 0;
border-bottom:1px solid #9f9f9f;
color:#9f9f9f;
}

/* レイアウト */

div.container{
max-width: 1062px;
margin: 0 auto;
}

#header{
width:100%;
border-bottom:1px solid #d0d0d0;
background:#f0f0f0;
}

/* ---- サイトロゴ ---- */

#sitelogoimg{
max-width: 1062px;
margin: 0 auto;
padding:10px 0;
}

#sitelogoimg img{
margin:0;
}

/* ---- サイトロゴ(新) ---- */
#sitelogo{
max-width: 1062px;
margin: 0 auto;
padding:3px 0;
font-size:18px;
font-weight:bold;
font-family: 'Noto Sans JP', '游ゴシック', 'Hiragino Sans','Helvetica Neue', 'メイリオ', 'sans-serif';
}

#sitelogo img{
margin:0;
vertical-align: middle;
}

#sitelogo span{
vertical-align: middle;
}

/* ---- カスタム検索 ---- */

#searchbox2{
margin:10px 0 0 0;
}

/* ---------------------------------------------  Profile(右上) -------------------------------------------------- */

#profileblock{
width:300px;
display: flex;
}

#profilephoto{
width:100px;
padding:3px;
border:1px solid #d0d0d0;
}

#profilephoto img{
border-width:0;
margin:0;
}

#profiletext{
width:182px;
margin:0 0 0 10px;
padding:0;
}

p.profilemsg{
font-size:14px;
margin:5px 0 0 0;
padding:0;
line-height:1.4;
letter-spacing:0;
}

.profilemsg a {text-decoration:none;}
.profilemsg a:link{color:#0000ff;}
.profilemsg a:visited{color:#0000ff;}
.profilemsg a:hover, a:active{color:#0000ff;}

#profileauthor{
font-size:16px;
margin:0;
padding:0;
letter-spacing:0;
}

/* ---------------------------------------------  フッター -------------------------------------------------- */

#footer{
border-top:1px solid #cccccc;
padding:5px 0;
max-width: 1092px;
margin: 0 auto;
}

.footertext{
margin:0px;
padding:0px;
color:#606060;
font-size:12px;
text-align:center;
}

.footertext a:link{color:#606060;}
.footertext a:visited{color:#606060;}
.footertext a:hover, a:active{color:#606060;}

/* --------------------------------- 説明付きボックス ------------------------------------------ */

.topbox {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 2px #95ccff;
    border-radius: 6px;
}

.topbox .box-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}

.topbox p {
    margin: 0; 
    padding: 0;
}

.topbox .title{
font-size:18px;
margin:10px 0 0 0;
}

.topbox .summary{
font-size:14px;
margin:0;
}


/* Media queries
-------------------------------------------------------*/

@media only screen and (max-width: 970px) {
  div.restitle {
  display:none;
  }

  div.sidebar{
  margin:0 10px;
  padding:0;
  }

  div.main{
  margin:0 10px;
  }

  h1{
  padding:0 10px;
  }

  #sitelogoimg{
  padding:10px;
  }

  #sitelogo{
    margin-left:10px;
  }
}

@media only screen and (min-width : 970px) {
  div.container{
  display: flex;
  }

  div.sidebar{
  width:100%;
  margin-left:20px;
  max-width: 501px;
  }

  div.main{
  width:100%;
  max-width: 501px;
  }
}
