@font-face {
  font-family: 'Allerta';
  font-style: normal;
  font-weight: 400;
  src: url("TwMO-IAHRlkbx940YnYXTA.eot")/*tpa=https://fonts.gstatic.com/s/allerta/v11/TwMO-IAHRlkbx940YnYXTA.eot*/;
}
@font-face {
  font-family: 'Squada One';
  font-style: normal;
  font-weight: 400;
  src: url("BCasqZ8XsOrx4mcOk6Mtaac2XQ.eot")/*tpa=https://fonts.gstatic.com/s/squadaone/v9/BCasqZ8XsOrx4mcOk6Mtaac2XQ.eot*/;
}
